## Default settings file for game Letter X
## Under most circumstances. Never ever edit this file
## except to change your screen resolution
window_w= 1280
window_h= 720
vsync-mode= 1
game_name Game Engine :: Development Build
texture_dir= textures//
level_dir= levels//
sounds_dir= sounds//
levellist-dir= misc//level-list//
levellist-file= default_level_list.lst